$oz-colors: (
  background: #ffffff,
  background-secondary: #F2F3F3 ,
  background-accent: #7ED5FC,

  font-base: #7C86A2,
  font-accent: #AA3434,
  font-secondary: rgba(52, 72, 94, 0.54),
  font-title: #6B7897 ,
  font-clear: #ffffff,

  border-base: #D8DCE5,
);

$oz-shadows: (
  shadow-base: 0px 2px 23px #EDEDED,
);

$oz-transitions: (
  transition-base: 0.3s ease-in-out,
);
